<section class="block">
  <div class="container">
    <div class="sflex">
      <img src="./block.png" alt="examples">
      <h1 class="titles">{{APP().texts.h1_title}}</h1>
    </div>
      <div class="edit-block">
        <div class="editors">
          <span>{{APP().texts.edit_block_span}} : {{getLenghtItemBloknot()}}</span>
        </div>
        <div class="form">
          <input type="text" #inputValues (input)="inputV = inputValues.value" placeholder="Введите текст....">
          <button (click)="addResourseDataLast()">{{APP().texts.edit_block_button}}</button>
          <button (click)="saveToAsStorage()">Сохранить</button>
          <button (click)="loadToAsStorage()">Загрузить</button>
          <button (click)="clearToAsStorage()">Очистить</button>
          <button (click)="clearForm(inputValues)">Очистить ввод</button>
        </div>
        <div class="view-send-form">
          <span>{{APP().texts.view_send_form_span}} : {{inputValues.value}}</span>
        </div>
      </div>
      <div class="block-content">
        <div *ngFor="let item of getData(); let i = index;" [ngStyle]="{'background-color': item.color}">
          <span [ngStyle]="{'color': item.colorText}" [ngClass]="{'bold': item.styles.boldStyle, 'italic': item.styles.italicStyle, 'underline': item.styles.underlineStyle}">{{i + 1}}. </span>
          <span *ngIf="true" [ngStyle]="{'color': item.colorText}" [ngClass]="{'bold': item.styles.boldStyle, 'italic': item.styles.italicStyle, 'underline': item.styles.underlineStyle}">{{item.description}}</span>
          <textarea *ngIf="false"></textarea>
          <button [ngClass]="{'active': item.styles.activeButton.actBold}" (click)="toogleBoldText(item)">В</button>
          <button [ngClass]="{'active': item.styles.activeButton.actItalic}"  (click)="toogleItalicText(item)">I</button>
          <button [ngClass]="{'active': item.styles.activeButton.actUnderline}"  (click)="toogleUnderlineText(item)">U</button>
          <input type="color" [(ngModel)]="item.color">
          <input type="color" [(ngModel)]="item.colorText">
          <button>{{APP().texts.block_content_div_button_add}}</button>
          <button (click)="deleteRes(item.id, i)">{{APP().texts.block_content_div_button_del}}</button>
        </div>
      </div>
  </div>
</section>

<router-outlet />
